<!DOCTYPE html>
<html>

<head>
    <title>Forms</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <form accept-charset="UTF-8" action="/" autocomplete="off" method="POST">
            <fieldset>
                <legend>Personal Data:</legend>

                <label for="firstName">First Name: </label>
                <input id="firstName" v-model.trim="personalInfo.firstName" />

                <label for="lastName">Last Name: </label>
                <input id="lastName" v-model.trim="personalInfo.lastName" /> <br />

                <label for="age">Age: </label>
                <input id="age" v-model.number="personalInfo.age" /> <br />

                <input type="radio" id="male" name="sex" value="male" v-model="personalInfo.sex" /> <label
                    for="male">Male</label> <br />
                <input type="radio" id="female" name="sex" value="female" v-model="personalInfo.sex" /> <label
                    for="male">Female</label> <br />

                <label for="bio">Bio</label>
                <textarea id="bio" name="bio" v-model.lazy="personalInfo.bio"></textarea><br />

                <label for="maritalStatus">Marital Status</label>
                <select id="maritalStatus" v-model="personalInfo.maritalStatus">
                    <option disabled>select</option>
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="widowed">Widowed</option>
                </select><br />

                <label for="tos">Accept TOS</label>
                <input id="tos" name="tos" type="checkbox" v-model="personalInfo.tos" /> TOS<br />
            </fieldset>
            <button type="submit" value="Submit" v-on:submit.prevent="alert('yeis')">Submit</button>
        </form>
        <hr />
        <key-pair-item v-for="(value,name) in personalInfo" v-bind:key="name" v-bind:name="name" v-bind:value="value">
        </key-pair-item>
    </div>
    <script>
        Vue.component('key-pair-item', {
            props: ['name', 'value'],
            template: '<div v-bind:id=name>{{name}}:{{value}}</div>'
        });
        var personalInfo = {
            firstName: "Héctor",
            lastName: "Díaz",
            sex: "male",
            bio: "But I must explain to you how all this mistaken.",
            maritalStatus: "married",
            tos: false,
            age: 30
        };
        var app = new Vue({
            data: {
                personalInfo: personalInfo
            },
            watch: {
            },
            computed: {
            },
            methods: {
            },
            beforeCreate: function () {
                console.log('beforeCreate');
            },
            created: function () {
                console.log('created');
            },
            beforeMount: function () {
                console.log('beforeMount');
            },
            mounted: function () {
                console.log('mounted');
            },
            beforeUpdate: function () {
                console.log('beforeUpdate');
            },
            updated: function () {
                console.log('updated');
            },
            destroyed: function () {
                console.log('destroyed');
            }
        }).$mount('#app');
    </script>
</body>

</html>