<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <span v-bind:title="message.title">{{message.title}}</span>
        <hr/>
        {{message.body}}
        <hr/>
        <span v-if="seen">visible</span><br/>
        <ol>
            <todo-item v-for="item in items" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
        <input v-model="message.body"/>
        <button v-on:click="reverse">Reverse</button>
        <button v-on:click="addTodo">Add</button>
    </div>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li> {{todo.id}}:{{todo.text}} </li>'
        });
        var app = new Vue({
            el: '#app',
            data: {
                seen: true,
                message: 
                {
                    title: 'a title ' + new Date().toLocaleString(), 
                    body: 'a body'
                },
                items: [{text:"text 1", id:0}, {text:"text 2",id:1}]
            },
            methods: {
                reverse: function(){
                    this.message.body = this.message.body.split('').reverse().join('');
                },
                addTodo: function(){
                    this.items.push({text:this.message.body, id:this.items.length});
                }
            }
        });
    </script>
</body>
</html>